In [1]:
# import findspark
import findspark
# initialize findspark with spark directory
findspark.init("C:\Program Files\Spark\spark-3.3.1-bin-hadoop3")
#findspark.init("/Users/wouterdewitte/spark/")
# import pyspark
import pyspark
# create spark context
sc = pyspark.SparkContext()
# create spark session 
spark = pyspark.sql.SparkSession(sc)

In [2]:
# import packages
import os 
import pickle
import re
from datetime import datetime
import requests
import pytz
import emojis
import pandas as pd
import numpy as np
import ast
import pyspark.sql.functions as F
from pyspark.sql.types import *
from pyspark.sql.functions import *
from pyspark.sql.functions import array_contains
import matplotlib.pyplot as plt 
import emojis
import pandas as pd
import numpy as np
import ast
from pyspark.ml.feature import Tokenizer
from pyspark.ml.feature import StopWordsRemover
from pyspark.ml.tuning import CrossValidator, ParamGridBuilder, CrossValidatorModel
import csv
import json
import plotly.express as px
from sklearn.metrics import roc_curve, auc
from sklearn.datasets import make_classification

## General

In this notebook we will buid a model that predicts if the trend of a certain topic goes up or down on a certain day based on Twitter data of that day.

## 1. Import Data

### 1.1 Google Trends

In [3]:
# read trend data 
trend = spark.read.csv(".././../data/Google_trends/daily_trends.csv", header=True, inferSchema=True, sep=';')

In [4]:
trend

DataFrame[date: timestamp, dependent_vegan: int]

In [5]:
from pyspark.sql.window import Window

w = Window().partitionBy().orderBy(col("date"))
trend.withColumn("dependent_vegan", lag("dependent_vegan", -1, 0).over(w)).show(100)

+-------------------+---------------+
|               date|dependent_vegan|
+-------------------+---------------+
|2021-10-04 00:00:00|              1|
|2021-10-05 00:00:00|              1|
|2021-10-06 00:00:00|              1|
|2021-10-07 00:00:00|              1|
|2021-10-08 00:00:00|              1|
|2021-10-09 00:00:00|              0|
|2021-10-10 00:00:00|              0|
|2021-10-11 00:00:00|              0|
|2021-10-12 00:00:00|              0|
|2021-10-13 00:00:00|              0|
|2021-10-14 00:00:00|              0|
|2021-10-15 00:00:00|              1|
|2021-10-16 00:00:00|              1|
|2021-10-17 00:00:00|              0|
|2021-10-18 00:00:00|              1|
|2021-10-19 00:00:00|              0|
|2021-10-20 00:00:00|              0|
|2021-10-21 00:00:00|              1|
|2021-10-22 00:00:00|              1|
|2021-10-23 00:00:00|              1|
|2021-10-24 00:00:00|              0|
|2021-10-25 00:00:00|              0|
|2021-10-26 00:00:00|              0|
|2021-10-27 00:00:00|              0|
|2021-10-28 00:00:00|              1|
|2021-10-29 00:00:00|              1|
|2021-10-30 00:00:00|              1|
|2021-10-31 00:00:00|              0|
|2021-11-01 00:00:00|              0|
|2021-11-02 00:00:00|              1|
|2021-11-03 00:00:00|              1|
|2021-11-04 00:00:00|              0|
|2021-11-05 00:00:00|              1|
|2021-11-06 00:00:00|              0|
|2021-11-07 00:00:00|              0|
|2021-11-08 00:00:00|              1|
|2021-11-09 00:00:00|              0|
|2021-11-10 00:00:00|              1|
|2021-11-11 00:00:00|              0|
|2021-11-12 00:00:00|              1|
|2021-11-13 00:00:00|              1|
|2021-11-14 00:00:00|              0|
|2021-11-15 00:00:00|              1|
|2021-11-16 00:00:00|              0|
|2021-11-17 00:00:00|              1|
|2021-11-18 00:00:00|              0|
|2021-11-19 00:00:00|              1|
|2021-11-20 00:00:00|              1|
|2021-11-21 00:00:00|              0|
|2021-11-22 00:00:00|              1|
|2021-11-23 00:00:00|              1|
|2021-11-24 00:00:00|              1|
|2021-11-25 00:00:00|              0|
|2021-11-26 00:00:00|              1|
|2021-11-27 00:00:00|              0|
|2021-11-28 00:00:00|              0|
|2021-11-29 00:00:00|              0|
|2021-11-30 00:00:00|              1|
|2021-12-01 00:00:00|              1|
|2021-12-02 00:00:00|              0|
|2021-12-03 00:00:00|              1|
|2021-12-04 00:00:00|              0|
|2021-12-05 00:00:00|              0|
|2021-12-06 00:00:00|              0|
|2021-12-07 00:00:00|              1|
|2021-12-08 00:00:00|              0|
|2021-12-09 00:00:00|              0|
|2021-12-10 00:00:00|              1|
|2021-12-11 00:00:00|              0|
|2021-12-12 00:00:00|              0|
|2021-12-13 00:00:00|              0|
|2021-12-14 00:00:00|              0|
|2021-12-15 00:00:00|              1|
|2021-12-16 00:00:00|              0|
|2021-12-17 00:00:00|              1|
|2021-12-18 00:00:00|              1|
|2021-12-19 00:00:00|              0|
|2021-12-20 00:00:00|              0|
|2021-12-21 00:00:00|              1|
|2021-12-22 00:00:00|              1|
|2021-12-23 00:00:00|              1|
|2021-12-24 00:00:00|              0|
|2021-12-25 00:00:00|              0|
|2021-12-26 00:00:00|              0|
|2021-12-27 00:00:00|              1|
|2021-12-28 00:00:00|              1|
|2021-12-29 00:00:00|              0|
|2021-12-30 00:00:00|              1|
|2021-12-31 00:00:00|              1|
|2022-01-01 00:00:00|              1|
|2022-01-02 00:00:00|              0|
|2022-01-03 00:00:00|              0|
|2022-01-04 00:00:00|              1|
|2022-01-05 00:00:00|              0|
|2022-01-06 00:00:00|              1|
|2022-01-07 00:00:00|              1|
|2022-01-08 00:00:00|              0|
|2022-01-09 00:00:00|              0|
|2022-01-10 00:00:00|              1|
|2022-01-11 00:00:00|              1|
+-------------------+---------------+
only showing top 100 rows

In [6]:
# create SQL view
trend.createOrReplaceTempView("trendSQL")

The binary variable indicates if the trend goes up or down.

### 1.2 Twitter

In [7]:
# define data dir
data_dir = "../../data/Topic/"

# get all twitter files
tweet_files = [os.path.join(data_dir, obs) for obs in os.listdir(data_dir)]

In [8]:
# import twitter data 
#twitter_df = spark.read.json(tweet_files)

In [9]:
list_hashtags = ["vegan"]

data_dir = ".././../data/Topic/"
tweet_files = [os.path.join(data_dir, obs) for obs in os.listdir(data_dir)]
files_hashtags = [file for file in tweet_files if (file.find(list_hashtags[0]) != -1)]             
twitter_df = spark.read.option("multiline","true").json(files_hashtags) 
twitter_df.count()

1827680

In [10]:
# select interesting features
twitter_df = twitter_df.select(F.col('user.name'),
                                F.col('user.screen_name'),
                                F.col('user.followers_count'),
                                F.col('user.following'),
                                F.col('user.statuses_count'),
                                F.col('user.listed_count'),
                                F.col('created_at'),
                                F.col('full_text'),
                                F.col('entities.hashtags'),
                                F.col('favorite_count'),
                                F.col('retweet_count'),
                                F.col('user.friends_count'))

## 2. Data Preprocessing

### 2.1 Check time period

In [11]:
# function to convert Twitter date string format
def getDate(date):
    if date is not None:
        return str(datetime.strptime(date,'%a %b %d %H:%M:%S +0000 %Y').replace(tzinfo=pytz.UTC).strftime("%Y-%m-%d %H:%M:%S"))
    else:
        return None

# UDF declaration
date_udf = F.udf(getDate, StringType())

# apply udf
twitter_df = twitter_df.withColumn('post_created_at', F.to_utc_timestamp(date_udf("created_at"), "UTC"))

In [12]:
# get first post
first_post = F.min('post_created_at').alias('earliest')
# get latest post
latest_post = F.max('post_created_at').alias('latest')
# show tweet period in our dataset
twitter_df.select(first_post, latest_post).show()

+-------------------+-------------------+
|           earliest|             latest|
+-------------------+-------------------+
|2021-10-25 07:19:40|2022-10-11 23:17:33|
+-------------------+-------------------+

### 2.2 Remove retweets and duplicates

In [13]:
# drop all retweets from dataset
no_retweets_df = twitter_df.filter(~F.col("full_text").startswith("RT"))

In [14]:
# first sort no_retweets_df based on date in chronological order (most recent ones on top)
no_retweets_sorted_df = no_retweets_df.sort("post_created_at", ascending=False)

In [15]:
# number of observations before dropping duplicates
no_retweets_sorted_df.count()

745916

In [16]:
# drop duplicates based on tweet text and the profile it was posted from
final_no_duplicates_df = no_retweets_sorted_df.drop_duplicates(["full_text", "screen_name"])

In [17]:
# number of observations after dropping duplicates
final_no_duplicates_df.count()

693932

In [18]:
# rename dataframe
final_twitter_df = final_no_duplicates_df

## 3. Independent Variables

For our independent variables we need to design a pipeline that transforms the data into the desired aggregated metrics per day.

### 3.0 Feature Engineering

#### Define Functions

In [19]:
# define function to count hashtags
def get_hashtags(tokenized_text):
    counter = 0
    for word in tokenized_text:
        if "#" in word:
            counter += 1
    return(counter)

In [20]:
# define function to count mentions
def get_mentions(tokenized_text):
    counter = 0
    for word in tokenized_text:
        if "@" in word:
            counter += 1
    return(counter)

In [21]:
# define function to count exclamation marks
def get_exclamation_marks(tokenized_text):
    counter = 0
    for word in tokenized_text:
        if "!" in word:
            counter += 1
    return(counter)

In [22]:
# define function to count number of emojis used
def emoji_counter(text):
    nr_emojis = emojis.count(text)
    return(nr_emojis)

In [23]:
# define function to calculate engagement rate
def engagement_rate(favorite_count, retweet_count, followers_count):
    if(followers_count == 0):
        eng_rate = 0
    else:
        eng_rate = (favorite_count + retweet_count)/followers_count
    
    return eng_rate

In [24]:
# register functions as udf
get_hashtags_UDF = F.udf(get_hashtags, IntegerType())
get_mentions_UDF = F.udf(get_mentions, IntegerType())
get_exclamation_marks_UDF = F.udf(get_exclamation_marks, IntegerType())
emoji_counter_UDF = F.udf(emoji_counter, IntegerType())
engagement_rate_UDF = F.udf(engagement_rate, DoubleType())

In [25]:
# apply functions to create new features
final_twitter_df = final_twitter_df.withColumn("emoji_count", emoji_counter_UDF("full_text")) \
        .withColumn("text_tokenized", F.split("full_text", " ")) \
        .withColumn("num_words", F.size("text_tokenized")) \
        .withColumn("num_hashtags", get_hashtags_UDF("text_tokenized")) \
        .withColumn("num_mentions", get_mentions_UDF("text_tokenized")) \
        .withColumn("num_exclamation_marks", get_exclamation_marks_UDF("text_tokenized")) \
        .withColumn("engagement_rate", engagement_rate_UDF("favorite_count", "retweet_count", "followers_count"))

#### Text Cleaning

In [26]:
# filter for english tweets (NOTE: for the assignment you can translate non-english tweets using an API)
final_twitter_df = final_twitter_df.filter(F.col("lang") == "en")

In [27]:
# check number of observations
final_twitter_df.count()

469429

In [28]:
# define function to clean text
def clean_text(string):
    
    # define numbers
    NUMBERS = '0123456789'
    PUNCT = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
    
    # convert text to lower case
    cleaned_string = string.lower()
    
    # remove URLS
    cleaned_string = re.sub(r'http\S+', ' ', cleaned_string)
    
    # replace emojis by words
    cleaned_string = emojis.decode(cleaned_string)
    cleaned_string = cleaned_string.replace(":"," ").replace("_"," ")
    cleaned_string = ' '.join(cleaned_string.split())
    
    # remove numbers
    cleaned_string = "".join([char for char in cleaned_string if char not in NUMBERS])
    
    # remove punctuation
    cleaned_string = "".join([char for char in cleaned_string if char not in PUNCT])
    
    # remove words conisting of one character (or less)
    cleaned_string = ' '.join([w for w in cleaned_string.split() if len(w) > 1])
    
    # return
    return(cleaned_string)

In [29]:
# convert to udf
clean_text_udf = F.udf(clean_text, StringType())

In [30]:
# clean string
final_twitter_df = final_twitter_df.withColumn("cleaned_text", clean_text_udf(F.col("full_text")))

In [31]:
# check
pd.set_option('display.max_colwidth', None)
final_twitter_df.select("full_text", "cleaned_text").limit(5).toPandas()

,full_text,cleaned_text
0,! We will be open 10am-9pm today and tomorrow!! Much love you all!!\n\n#veganuary #veganuary2022 #vegan #veganfood #veganlife #vkind #vegas #lasvegas #vegoutvegas #plantbased #veganfood #food #crueltyfree #healthy #organic #veganmarket #foodie #govegan #vegansofig #love #veganism,we will be open ampm today and tomorrow much love you all veganuary veganuary vegan veganfood veganlife vkind vegas lasvegas vegoutvegas plantbased veganfood food crueltyfree healthy organic veganmarket foodie govegan vegansofig love veganism
1,!! Daily Updates !!\n\nA taste of Vegan Food today on #TheMorningWave with @sam_lehoko and @Lauri_Leah on #ChefsTable joined by the team from Kaylee's Eatery.\n\n#MyMusicMyMix #Music #Food #Vegan #Green #Wednesday #Radio https://t.co/UUNQwkDWxt,daily updates taste of vegan food today on themorningwave with sam lehoko and lauri leah on chefstable joined by the team from kaylees eatery mymusicmymix music food vegan green wednesday radio
2,!love !iq !waddup Building time on the Sketch SMP! Emote Art Raffle at 5 Subs! https://t.co/aKZoWy32dW @CozyIslandLIVE @Streambeanzttv #twitch #TwitchStreamers #twitchstreamer #twitchtv #twitchaffiliate #Livestream #live #LGBTQ #LGBTQIA #Vegan #Minecraft #minecraftsmp #cozy #lgbt,love iq waddup building time on the sketch smp emote art raffle at subs cozyislandlive streambeanzttv twitch twitchstreamers twitchstreamer twitchtv twitchaffiliate livestream live lgbtq lgbtqia vegan minecraft minecraftsmp cozy lgbt
3,""" DID YOU KNOW ?""\n\n#senoritacosmetics #senoritacosmetics_ #skincareroutine #veganskincare #vegan #skincare #skincaretips #gogreen #govegan #facts #funfact #funfactory #funfactsoftheday https://t.co/eodzSAXqH8",did you know senoritacosmetics senoritacosmetics skincareroutine veganskincare vegan skincare skincaretips gogreen govegan facts funfact funfactory funfactsoftheday
4,""" Nature's Interconnection "" \n\nCommission for @Stefanostattoos\n\nTattoo on @apound_of_flesh\n\n#inari #inariokami #fox #foxes #redhead #mädchen #vegan #veganism #woman #women #nature #peru #peruvian #tatuador #tatuaje #tatuajes #тату #plants #plantbased #dorsettstyle #веган https://t.co/2G7IiLiWWW",natures interconnection commission for stefanostattoos tattoo on apound of flesh inari inariokami fox foxes redhead mädchen vegan veganism woman women nature peru peruvian tatuador tatuaje tatuajes тату plants plantbased dorsettstyle веган

#### Sentiment

VADER sentimental analysis relies on a dictionary that maps lexical features to emotion intensities known as sentiment scores. The sentiment score of a text can be obtained by summing up the intensity of each word in the text.

In [32]:
#using the vaderSentiment package 
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer
from pyspark.sql.functions import udf
from pyspark.sql.types import *

In [33]:
# define the function to extract the sentiment
def get_sentiment(sentence):

    # initialize sentiment analyzer
    sid_obj = SentimentIntensityAnalyzer()

    # get sentiment dict
    sentiment_dict = sid_obj.polarity_scores(sentence)
    
    # get positive sentiment score
    pos_sentiment = sentiment_dict["pos"]
    
    # return positive sentiment score
    return(pos_sentiment)

get_sentiment_udf = udf(get_sentiment, DoubleType())

In [34]:
final_twitter_df = final_twitter_df.withColumn("sentiment_vader", get_sentiment_udf(F.col("cleaned_text")))

In [35]:
final_twitter_df.select("cleaned_text", "sentiment_vader").show()

+--------------------+---------------+
|        cleaned_text|sentiment_vader|
+--------------------+---------------+
|we will be open a...|           0.27|
|daily updates tas...|            0.0|
|love iq waddup bu...|          0.127|
|did you know seno...|            0.0|
|natures interconn...|            0.0|
|scarlet punica gr...|            0.0|
|dairy milk no lon...|            0.0|
|greenwashing is r...|            0.0|
|greenwashing is r...|            0.0|
|newyorkcity schoo...|          0.128|
|vegan food is dis...|            0.0|
|vegan food’s abil...|          0.064|
|my bad cholestero...|          0.054|
|vegan festival ho...|          0.132|
|dont be too hard ...|          0.396|
|steve brexit stev...|          0.077|
|it becomes questi...|          0.211|
|or vegan ones bra...|            0.0|
|vita russia anima...|          0.068|
|of surveyed swine...|            0.0|
+--------------------+---------------+
only showing top 20 rows

#### TextBlob

TextBlob returns polarity and subjectivity of a sentence. 

**Polarity** lies between [-1,1],  -1 defines a negative sentiment and 1 defines a positive sentiment.  

**Subjectivity** quantifies the amount of personal opinion and factual information contained in the text. Subjectivity lies between [0,1]. The higher subjectivity means that the text contains personal opinion rather than factual information.

In [36]:
#use polarity and subjectivity from TextBlob 
#https://textblob.readthedocs.io/en/dev/
from textblob import TextBlob

# define function to get polarity score of text document
def get_polarity(row):
    textBlob_review = TextBlob(row)
    return textBlob_review.sentiment[0]
# define function to get subjectivity score of text document
def get_subjectivity(row):
    textBlob_review = TextBlob(row)
    return textBlob_review.sentiment[1]
get_polarity_udf = F.udf(get_polarity, DoubleType())
get_subjectivity_udf = F.udf(get_subjectivity, DoubleType())

final_twitter_df = final_twitter_df.withColumn('polarity', get_polarity_udf(F.col('cleaned_text')))\
        .withColumn('subjectivity', get_subjectivity_udf(F.col('cleaned_text')))

final_twitter_df.select("cleaned_text", "sentiment_vader", "polarity", "subjectivity").show()

+--------------------+---------------+--------------------+-------------------+
|        cleaned_text|sentiment_vader|            polarity|       subjectivity|
+--------------------+---------------+--------------------+-------------------+
|we will be open a...|           0.27|               0.375|               0.55|
|daily updates tas...|            0.0|                -0.1|               0.15|
|love iq waddup bu...|          0.127| 0.14545454545454548| 0.6166666666666667|
|did you know seno...|            0.0|                 0.0|                0.0|
|natures interconn...|            0.0|                 0.0|                0.0|
|scarlet punica gr...|            0.0|                 0.0|                0.0|
|dairy milk no lon...|            0.0|                 0.0|                0.0|
|greenwashing is r...|            0.0|                 0.0|                0.0|
|greenwashing is r...|            0.0|                 0.0|                0.0|
|newyorkcity schoo...|          0.128| 0.13333333333333333| 0.7333333333333334|
|vegan food is dis...|            0.0|                -1.0|                1.0|
|vegan food’s abil...|          0.064|                -0.2|                0.2|
|my bad cholestero...|          0.054|-0.23333333333333328| 0.5222222222222221|
|vegan festival ho...|          0.132| 0.11249999999999999|             0.5875|
|dont be too hard ...|          0.396| 0.24166666666666664| 0.6683333333333332|
|steve brexit stev...|          0.077|-0.18333333333333335| 0.7999999999999999|
|it becomes questi...|          0.211|  0.4166666666666667|                0.5|
|or vegan ones bra...|            0.0|                 0.0|                0.0|
|vita russia anima...|          0.068| 0.13333333333333333|0.19999999999999998|
|of surveyed swine...|            0.0| -0.3666666666666667| 0.5190476190476191|
+--------------------+---------------+--------------------+-------------------+
only showing top 20 rows

In [37]:
final_twitter_df = final_twitter_df.withColumn('polarity', get_polarity_udf(F.col('cleaned_text')))\
        .withColumn('subjectivity', get_subjectivity_udf(F.col('cleaned_text')))

In [38]:
final_twitter_df.select("cleaned_text", "sentiment_vader", "polarity", "subjectivity").show()

+--------------------+---------------+--------------------+-------------------+
|        cleaned_text|sentiment_vader|            polarity|       subjectivity|
+--------------------+---------------+--------------------+-------------------+
|we will be open a...|           0.27|               0.375|               0.55|
|daily updates tas...|            0.0|                -0.1|               0.15|
|love iq waddup bu...|          0.127| 0.14545454545454548| 0.6166666666666667|
|did you know seno...|            0.0|                 0.0|                0.0|
|natures interconn...|            0.0|                 0.0|                0.0|
|scarlet punica gr...|            0.0|                 0.0|                0.0|
|dairy milk no lon...|            0.0|                 0.0|                0.0|
|greenwashing is r...|            0.0|                 0.0|                0.0|
|greenwashing is r...|            0.0|                 0.0|                0.0|
|newyorkcity schoo...|          0.128| 0.13333333333333333| 0.7333333333333334|
|vegan food is dis...|            0.0|                -1.0|                1.0|
|vegan food’s abil...|          0.064|                -0.2|                0.2|
|my bad cholestero...|          0.054|-0.23333333333333328| 0.5222222222222221|
|vegan festival ho...|          0.132| 0.11249999999999999|             0.5875|
|dont be too hard ...|          0.396| 0.24166666666666664| 0.6683333333333332|
|steve brexit stev...|          0.077|-0.18333333333333335| 0.7999999999999999|
|it becomes questi...|          0.211|  0.4166666666666667|                0.5|
|or vegan ones bra...|            0.0|                 0.0|                0.0|
|vita russia anima...|          0.068| 0.13333333333333333|0.19999999999999998|
|of surveyed swine...|            0.0| -0.3666666666666667| 0.5190476190476191|
+--------------------+---------------+--------------------+-------------------+
only showing top 20 rows

In [39]:
# create SQL view
final_twitter_df.createOrReplaceTempView("twitterSQL")

### 3.1 Volume of tweets

In [40]:
# select the relevant data
volume = spark.sql("SELECT DATE_FORMAT(post_created_at, 'Y-M-dd') as date, COUNT(*) as volume \
                                    FROM twitterSQL \
                                    GROUP BY DATE_FORMAT(post_created_at, 'Y-M-dd') \
                                    ORDER BY DATE_FORMAT(post_created_at, 'Y-M-dd')")

In [41]:
# show 
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
volume.show(100)

+----------+------+
|      date|volume|
+----------+------+
|2021-10-25|     2|
|2021-10-27|   396|
|2021-10-28|  1007|
|2021-10-29|  9701|
|2021-10-30|  8811|
|2021-10-31|  8602|
|2021-11-01| 17663|
|2021-11-02| 12826|
|2021-11-03|  1549|
|2021-11-04|   966|
|2021-11-05|   186|
|2021-11-06|     5|
|2021-12-05|    12|
|2021-12-06|    36|
|2021-12-07|  2273|
|2021-12-08|  8557|
|2021-12-09|  8547|
|2021-12-10|  9438|
|2021-12-11|  8224|
|2021-12-12|  6558|
|2021-12-13|  1135|
|2021-12-14|  1154|
|2021-12-15|  1190|
|2021-12-16|    89|
|2021-12-25|   495|
| 2022-1-01|  1425|
| 2022-1-02|   707|
| 2022-1-08|  1022|
| 2022-1-09|  1226|
| 2022-1-10|  1433|
| 2022-1-11|  1464|
| 2022-1-12|  1561|
| 2022-1-13|  1358|
| 2022-1-14|  1580|
| 2022-1-15|  1185|
| 2022-1-16|   167|
| 2022-1-20|  1113|
| 2022-1-21|  1904|
| 2022-1-22|  1297|
| 2022-1-23|  1611|
| 2022-1-24|  1819|
| 2022-1-25|  1337|
| 2022-1-26|  1819|
| 2022-1-27|  1490|
| 2022-1-31|    71|
|2022-10-09|   730|
|2022-10-10|   972|
|2022-10-11|   990|
|2022-12-26|   796|
|2022-12-27|  1082|
|2022-12-28|  1219|
|2022-12-29|  1397|
|2022-12-30|  1050|
|2022-12-31|  1206|
| 2022-2-01|  1263|
| 2022-2-02|  1419|
| 2022-2-03|  1191|
| 2022-2-04|  1411|
| 2022-2-05|  1759|
| 2022-2-06|  1273|
| 2022-2-07|  1284|
| 2022-2-08|   913|
| 2022-2-11|   338|
| 2022-2-12|   658|
| 2022-2-13|   817|
| 2022-2-14|   778|
| 2022-2-15|   890|
| 2022-2-16|   781|
| 2022-2-17|   778|
| 2022-2-18|   670|
| 2022-2-19|  3876|
| 2022-2-20|  1058|
| 2022-2-21|  1212|
| 2022-2-22|  1339|
| 2022-2-23|  1275|
| 2022-3-03|     2|
| 2022-3-04|     1|
| 2022-3-05|  3290|
| 2022-3-06|  7843|
| 2022-3-07|  8236|
| 2022-3-08|  9058|
| 2022-3-09|  9019|
| 2022-3-10|  8891|
| 2022-3-11|  8859|
| 2022-3-12|  1531|
| 2022-3-13|  1312|
| 2022-3-14|  1182|
| 2022-3-15|  1137|
| 2022-3-16|  1235|
| 2022-3-25|   950|
| 2022-3-26|  1022|
| 2022-3-27|   996|
| 2022-3-28|   998|
| 2022-3-29|  1117|
| 2022-3-30|  1130|
| 2022-3-31|  1243|
| 2022-4-01|   568|
| 2022-4-12|    79|
| 2022-4-13|  1125|
| 2022-4-14|  1093|
+----------+------+
only showing top 100 rows

In [42]:
# create SQL view
volume.createOrReplaceTempView("volumeSQL")

### 3.2 Average likes

We exclude tweets with 0 likes.

In [43]:
# select the relevant data
avg_likes = spark.sql("SELECT DATE_FORMAT(post_created_at, 'Y-M-dd') as date, AVG(favorite_count) as avg_likes \
                           FROM twitterSQL \
                           WHERE favorite_count > 0 \
                           GROUP BY DATE_FORMAT(post_created_at, 'Y-M-dd') \
                           ORDER BY DATE_FORMAT(post_created_at, 'Y-M-dd')")

In [44]:
# show 
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
avg_likes.show()

+----------+------------------+
|      date|         avg_likes|
+----------+------------------+
|2021-10-25|               5.0|
|2021-10-27|14.878923766816143|
|2021-10-28| 8.787234042553191|
|2021-10-29|13.020252694165737|
|2021-10-30|12.171084337349397|
|2021-10-31|11.718002081165453|
|2021-11-01| 12.87780347983506|
|2021-11-02| 8.506925207756233|
|2021-11-03| 9.510228640192539|
|2021-11-04| 11.72790294627383|
|2021-11-05| 3.090909090909091|
|2021-11-06|               1.0|
|2021-12-05| 4.857142857142857|
|2021-12-06|               5.0|
|2021-12-07| 15.16415770609319|
|2021-12-08|15.566714786553929|
|2021-12-09|13.000201653559186|
|2021-12-10|18.798192771084338|
|2021-12-11|17.180092787853226|
|2021-12-12| 8.526501766784452|
+----------+------------------+
only showing top 20 rows

In [45]:
# create SQL view
avg_likes.createOrReplaceTempView("avg_likesSQL")

### 3.3 Average Retweets

We exclude tweets with 0 retweets.

In [46]:
# select the relevant data
avg_retweets = spark.sql("SELECT DATE_FORMAT(post_created_at, 'Y-M-dd') as date, AVG(retweet_count) as avg_retweets \
                          FROM twitterSQL \
                          WHERE retweet_count > 0 \
                          GROUP BY DATE_FORMAT(post_created_at, 'Y-M-dd') \
                          ORDER BY DATE_FORMAT(post_created_at, 'Y-M-dd')")

In [47]:
# show 
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
avg_retweets.show()

+----------+------------------+
|      date|      avg_retweets|
+----------+------------------+
|2021-10-27| 7.695121951219512|
|2021-10-28| 3.169230769230769|
|2021-10-29| 7.280495759947815|
|2021-10-30| 5.383431085043989|
|2021-10-31| 6.656727272727273|
|2021-11-01|  6.63281027104137|
|2021-11-02| 4.268883878241263|
|2021-11-03| 3.362934362934363|
|2021-11-04| 3.473170731707317|
|2021-11-05|1.5476190476190477|
|2021-11-06|               1.5|
|2021-12-05|               1.0|
|2021-12-06|             3.875|
|2021-12-07| 7.544502617801047|
|2021-12-08| 7.130705394190872|
|2021-12-09|7.3532934131736525|
|2021-12-10| 8.534136546184738|
|2021-12-11|           10.0768|
|2021-12-12| 5.430648769574944|
|2021-12-13| 5.383954154727793|
+----------+------------------+
only showing top 20 rows

In [48]:
# create SQL view
avg_retweets.createOrReplaceTempView("avg_retweetsSQL")

### 3.4 Average Engagement rate

We define engagement rate of a tweet as the sum of likes and retweets divided by the amount of followers of the account that sent out the tweet. For our purpose we will take the avergage engagement rate per day. We exclude accounts who have no followers and we only take tweets into account which are liked and retweeted at least once.

In [49]:
# select the relevant data
avg_engagement_rate = spark.sql("SELECT DATE_FORMAT(post_created_at, 'Y-M-dd') as date, AVG(engagement_rate) as avg_engagement_rate \
                                     FROM twitterSQL \
                                     GROUP BY DATE_FORMAT(post_created_at, 'Y-M-dd') \
                                     ORDER BY DATE_FORMAT(post_created_at, 'Y-M-dd')")

In [50]:
# show
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
avg_engagement_rate.show()

+----------+--------------------+
|      date| avg_engagement_rate|
+----------+--------------------+
|2021-10-25|0.003094059405940594|
|2021-10-27| 0.02134529191518882|
|2021-10-28|0.024249144556081494|
|2021-10-29|  0.0223016464141139|
|2021-10-30|0.026574548037982985|
|2021-10-31| 0.04700267284774964|
|2021-11-01| 0.02698780408562503|
|2021-11-02|0.017589389867347455|
|2021-11-03|0.030342320208788704|
|2021-11-04|0.026801852188641857|
|2021-11-05|0.011570938136072207|
|2021-11-06|0.001165479244563...|
|2021-12-05|0.003262968586207...|
|2021-12-06|0.015643164611561896|
|2021-12-07|0.022181606174828457|
|2021-12-08| 0.03823743337493997|
|2021-12-09|0.026620944322647062|
|2021-12-10| 0.04562157050472956|
|2021-12-11|0.030933989747992788|
|2021-12-12|0.018746239331627782|
+----------+--------------------+
only showing top 20 rows

In [51]:
# create SQL view
avg_engagement_rate.createOrReplaceTempView("avg_engagement_rateSQL")

### 3.5 Number of influencers

We will calculate how many influencers actively tweeted a certain day. We define an influencer as someone with:
- followers > 1000 
- engagement_rate > 0.20 
- weekly tweet frequency > 5

In [52]:
def get_influencers(follower_count_tresh, eng_rate_tresh, freq_week_tresh, data):

    #df
    df = data
    
    # get all users with their amount of followers
    influencers = df.groupBy("screen_name") \
                    .agg(first("followers_count").alias("followers_count"))

    # average engagement rate for each user
    eng_rate = df.withColumn('eng_rate', ((df['favorite_count'] + df['retweet_count'])/df['followers_count']))

    eng_rate_user = eng_rate.groupBy("screen_name") \
                            .agg(avg("eng_rate").alias("eng_rate"))

    # average freq_weekly per user
    freq_week = df.withColumn("year", year(df["post_created_at"]))
    freq_week = freq_week.withColumn('week', weekofyear('post_created_at'))

    freq_week = freq_week.groupBy('screen_name', 'year', 'week').agg(countDistinct("full_text"))\
                    .withColumnRenamed("count(full_text)", "freq") \
                        .sort('screen_name', 'year', 'week', ascending = True)
    freq_week = freq_week.select('screen_name', 'freq')

    freq_week = freq_week.groupby("screen_name").agg(avg(freq_week.freq).alias('freq'))

    # put the data together
    data_joined = eng_rate_user.join(influencers, "screen_name").join(freq_week, "screen_name")

    # filter the data
    data_joined = data_joined.filter((data_joined.followers_count > follower_count_tresh) & (data_joined.eng_rate > eng_rate_tresh) & (data_joined.freq > freq_week_tresh))
    
    # show the data
    data_joined.show()
    return data_joined

In [53]:
influencers = get_influencers(1000, 0.002, 2, final_twitter_df)

+---------------+--------------------+---------------+------------------+
|    screen_name|            eng_rate|followers_count|              freq|
+---------------+--------------------+---------------+------------------+
|        AQUAB23|0.022003034901365705|           1318|               3.0|
|AlsJane_therapy|0.008247976142192238|           6226|               2.5|
|AmazingArbuckle|0.003063373540111...|           3482|               3.0|
|   AmeliaLynn70|0.014513189093212512|           2234|2.3333333333333335|
|AstridAlderleaf|0.002847876012638...|           6320|               4.0|
|   BDAWOSBranch|0.002719854941069...|           1103|               3.0|
|    BlogofVegan|0.003641420110945388|           9257| 4.653846153846154|
|   BrianKateman|0.004763913172491486|           1542|               3.5|
|   CathyGreen67|0.003029875597498...|           1161|3.1666666666666665|
|   ChubbieVegan|0.003564221783895219|           2012|2.4411764705882355|
|      CloseUpPR|0.002352610723569...|           1229|              2.25|
|CookingWithJoya|0.014963680978210584|           3969|               2.4|
|     DBelardoMD|0.003578721189301...|          67692|               2.5|
|DirtyDiceGoblin|0.006253635834787667|           4584|               3.0|
|     Donna_Barr|0.002244432928481...|           1188|               3.0|
|Grnc_BY_VNation|0.003443245015555...|           6035|              2.25|
|      GummiPies|0.048987820419077864|           3171|               3.0|
|   JackBradders| 0.03425568909409382|           3064|              3.44|
|JohnFisher2dot0|0.002780352177942...|           1079|               3.0|
|KarlaIsThriving|0.004578721163760655|           1935|               5.0|
+---------------+--------------------+---------------+------------------+
only showing top 20 rows

In [54]:
# create SQL view
influencers.createOrReplaceTempView("influencersSQL")

In [55]:
# select the relevant data
number_of_influencers = spark.sql(" SELECT DATE_FORMAT(a.post_created_at, 'Y-M-dd') as date, COUNT(b.screen_name) as influencers \
                                    FROM twitterSQL a \
                                    RIGHT OUTER JOIN influencersSQL b ON a.screen_name = b.screen_name\
                                    GROUP BY DATE_FORMAT(post_created_at, 'Y-M-dd') \
                                    ORDER BY DATE_FORMAT(post_created_at, 'Y-M-dd')")

In [56]:
# show
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
number_of_influencers.show()

+----------+-----------+
|      date|influencers|
+----------+-----------+
|2021-10-27|         32|
|2021-10-28|         66|
|2021-10-29|        533|
|2021-10-30|        400|
|2021-10-31|        433|
|2021-11-01|        895|
|2021-11-02|        638|
|2021-11-03|        120|
|2021-11-04|         92|
|2021-11-05|          9|
|2021-12-05|          3|
|2021-12-06|          2|
|2021-12-07|        188|
|2021-12-08|        394|
|2021-12-09|        452|
|2021-12-10|        547|
|2021-12-11|        575|
|2021-12-12|        325|
|2021-12-13|         82|
|2021-12-14|         77|
+----------+-----------+
only showing top 20 rows

In [57]:
# create SQL view
number_of_influencers.createOrReplaceTempView("number_of_influencersSQL")

### 3.6 Average Followers

In [58]:
# select the relevant data
avg_followers = spark.sql("SELECT DATE_FORMAT(post_created_at, 'Y-M-dd') as date, AVG(followers_count) as avg_followers \
                          FROM twitterSQL \
                          WHERE followers_count > 0 \
                          GROUP BY DATE_FORMAT(post_created_at, 'Y-M-dd') \
                          ORDER BY DATE_FORMAT(post_created_at, 'Y-M-dd')")

In [59]:
# show
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
avg_followers.show()

+----------+------------------+
|      date|     avg_followers|
+----------+------------------+
|2021-10-25|            1037.0|
|2021-10-27|3704.7251308900522|
|2021-10-28|11143.559559559559|
|2021-10-29|15421.784556225317|
|2021-10-30|13092.364626318202|
|2021-10-31| 8639.303048134636|
|2021-11-01|14902.429470672389|
|2021-11-02|12490.079042670446|
|2021-11-03|7811.1375488917865|
|2021-11-04| 5468.707240293809|
|2021-11-05| 4627.354838709677|
|2021-11-06|             880.2|
|2021-12-05|1248.4545454545455|
|2021-12-06|14294.638888888889|
|2021-12-07|  6173.18774966711|
|2021-12-08| 18653.36134057116|
|2021-12-09| 9285.449952896844|
|2021-12-10|12855.178205128204|
|2021-12-11| 11750.13307144611|
|2021-12-12|10717.924249422633|
+----------+------------------+
only showing top 20 rows

In [60]:
# create SQL view
number_of_influencers.createOrReplaceTempView("followersSQL")

### 3.7 Average Emoji Counts

In [61]:
# select the relevant data
avg_emoji = spark.sql("SELECT DATE_FORMAT(post_created_at, 'Y-M-dd') as date, AVG(emoji_count) as avg_emojis \
                          FROM twitterSQL \
                          GROUP BY DATE_FORMAT(post_created_at, 'Y-M-dd') \
                          ORDER BY DATE_FORMAT(post_created_at, 'Y-M-dd')")

In [62]:
# show
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
avg_emoji.show()

+----------+-------------------+
|      date|         avg_emojis|
+----------+-------------------+
|2021-10-25|                0.0|
|2021-10-27| 0.4393939393939394|
|2021-10-28|0.40913604766633566|
|2021-10-29| 0.6046799299041336|
|2021-10-30| 0.6746112813528544|
|2021-10-31| 0.6129969774471054|
|2021-11-01| 0.7203193115552284|
|2021-11-02| 0.5962108217682832|
|2021-11-03| 0.4280180761781795|
|2021-11-04|0.36231884057971014|
|2021-11-05| 0.4731182795698925|
|2021-11-06|                0.2|
|2021-12-05| 1.3333333333333333|
|2021-12-06| 1.1111111111111112|
|2021-12-07| 0.4747030356357237|
|2021-12-08| 0.5062521911885006|
|2021-12-09| 0.5205335205335205|
|2021-12-10|0.49502013138376777|
|2021-12-11| 0.5052285992217899|
|2021-12-12| 0.4501372369624886|
+----------+-------------------+
only showing top 20 rows

In [63]:
# create SQL view
number_of_influencers.createOrReplaceTempView("emojiSQL")

### 3.8 Avergae Number of Words

In [64]:
# select the relevant data
avg_words = spark.sql("SELECT DATE_FORMAT(post_created_at, 'Y-M-dd') as date, AVG(num_words) as avg_words \
                          FROM twitterSQL \
                          GROUP BY DATE_FORMAT(post_created_at, 'Y-M-dd') \
                          ORDER BY DATE_FORMAT(post_created_at, 'Y-M-dd')")

In [65]:
# show
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
avg_words.show()

+----------+------------------+
|      date|         avg_words|
+----------+------------------+
|2021-10-25|              15.0|
|2021-10-27|29.348484848484848|
|2021-10-28|25.028798411122146|
|2021-10-29|23.752808988764045|
|2021-10-30|23.280444898422427|
|2021-10-31| 23.88246919321088|
|2021-11-01| 24.81679216441148|
|2021-11-02|24.399968813347886|
|2021-11-03|25.956100710135573|
|2021-11-04|29.697722567287784|
|2021-11-05|26.892473118279568|
|2021-11-06|              15.6|
|2021-12-05|26.583333333333332|
|2021-12-06|23.666666666666668|
|2021-12-07|22.808622965244172|
|2021-12-08| 22.82587355381559|
|2021-12-09|23.022698022698023|
|2021-12-10|23.552235643144734|
|2021-12-11|23.504012645914397|
|2021-12-12|23.552912473315036|
+----------+------------------+
only showing top 20 rows

In [66]:
# create SQL view
avg_words.createOrReplaceTempView("wordsSQL")

### 3.9 Avergae Number of Hashtags

In [67]:
# select the relevant data
avg_hashtags = spark.sql("SELECT DATE_FORMAT(post_created_at, 'Y-M-dd') as date, AVG(num_hashtags) as avg_hashtags \
                          FROM twitterSQL \
                          GROUP BY DATE_FORMAT(post_created_at, 'Y-M-dd') \
                          ORDER BY DATE_FORMAT(post_created_at, 'Y-M-dd')")

In [68]:
# show
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
avg_hashtags.show()

+----------+------------------+
|      date|      avg_hashtags|
+----------+------------------+
|2021-10-25|               0.0|
|2021-10-27|1.6767676767676767|
|2021-10-28|1.3475670307845085|
|2021-10-29|1.0503040923616123|
|2021-10-30| 1.139371240494836|
|2021-10-31|1.1068356196233433|
|2021-11-01|1.4346939930929061|
|2021-11-02|1.1361297364727896|
|2021-11-03|1.5061329890251776|
|2021-11-04|1.5838509316770186|
|2021-11-05| 3.575268817204301|
|2021-11-06|               5.6|
|2021-12-05|             11.75|
|2021-12-06| 6.833333333333333|
|2021-12-07|0.9001319841619005|
|2021-12-08| 1.120603015075377|
|2021-12-09|1.0933660933660934|
|2021-12-10|0.9635515999152363|
|2021-12-11|0.8852140077821011|
|2021-12-12| 1.313815187557182|
+----------+------------------+
only showing top 20 rows

In [69]:
# create SQL view
avg_hashtags.createOrReplaceTempView("hashtagsSQL")

### 3.10 Average Number of Mentions

In [70]:
# select the relevant data
avg_mentions = spark.sql("SELECT DATE_FORMAT(post_created_at, 'Y-M-dd') as date, AVG(num_mentions) as avg_mentions \
                          FROM twitterSQL \
                          GROUP BY DATE_FORMAT(post_created_at, 'Y-M-dd') \
                          ORDER BY DATE_FORMAT(post_created_at, 'Y-M-dd')")

In [71]:
# show
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
avg_mentions.show()

+----------+------------------+
|      date|      avg_mentions|
+----------+------------------+
|2021-10-25|               0.5|
|2021-10-27|1.0934343434343434|
|2021-10-28|1.0903674280039721|
|2021-10-29|   1.1762704875786|
|2021-10-30|1.3434343434343434|
|2021-10-31|1.2687747035573123|
|2021-11-01|1.0906980694106323|
|2021-11-02|1.3746296585061593|
|2021-11-03|1.2246610716591348|
|2021-11-04|1.2536231884057971|
|2021-11-05|0.8118279569892473|
|2021-11-06|               0.0|
|2021-12-05|0.3333333333333333|
|2021-12-06|0.7777777777777778|
|2021-12-07|0.9661240651121865|
|2021-12-08|0.8418838377936193|
|2021-12-09|0.9275769275769276|
|2021-12-10| 1.134668361941089|
|2021-12-11|1.0730787937743191|
|2021-12-12|1.0767002134797194|
+----------+------------------+
only showing top 20 rows

In [72]:
# create SQL view
avg_mentions.createOrReplaceTempView("mentionsSQL")

### 3.11 Average Number of Exclamation Marks

In [73]:
# select the relevant data
avg_marks = spark.sql("SELECT DATE_FORMAT(post_created_at, 'Y-M-dd') as date, AVG(num_exclamation_marks) as avg_exclamation_marks \
                          FROM twitterSQL \
                          GROUP BY DATE_FORMAT(post_created_at, 'Y-M-dd') \
                          ORDER BY DATE_FORMAT(post_created_at, 'Y-M-dd')")

In [74]:
# show
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
avg_marks.show()

+----------+---------------------+
|      date|avg_exclamation_marks|
+----------+---------------------+
|2021-10-25|                  0.0|
|2021-10-27|  0.20959595959595959|
|2021-10-28|   0.2025819265143992|
|2021-10-29|   0.2621379239253685|
|2021-10-30|  0.23357167177391897|
|2021-10-31|   0.2342478493373634|
|2021-11-01|   0.3399196059559531|
|2021-11-02|  0.23023545922345237|
|2021-11-03|   0.2091672046481601|
|2021-11-04|  0.16252587991718426|
|2021-11-05|  0.41935483870967744|
|2021-11-06|                  0.0|
|2021-12-05|   0.3333333333333333|
|2021-12-06|   0.3055555555555556|
|2021-12-07|  0.29916410030796303|
|2021-12-08|  0.24856842351291342|
|2021-12-09|  0.24254124254124254|
|2021-12-10|  0.23151091332909515|
|2021-12-11|              0.21875|
|2021-12-12|  0.23132052455016774|
+----------+---------------------+
only showing top 20 rows

In [75]:
# create SQL view
avg_marks.createOrReplaceTempView("marksSQL")

### 3.12 Sentiment

In [76]:
# select the relevant data
avg_sentiment = spark.sql("SELECT DATE_FORMAT(post_created_at, 'Y-M-dd') as date, AVG(sentiment_vader) as avg_sentiment \
                          FROM twitterSQL \
                          GROUP BY DATE_FORMAT(post_created_at, 'Y-M-dd') \
                          ORDER BY DATE_FORMAT(post_created_at, 'Y-M-dd')")

In [77]:
# show
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
avg_sentiment.show()

+----------+-------------------+
|      date|      avg_sentiment|
+----------+-------------------+
|2021-10-25|0.21450000000000002|
|2021-10-27| 0.1265151515151515|
|2021-10-28|0.12339424031777559|
|2021-10-29|0.13889227914647964|
|2021-10-30| 0.1416517988877539|
|2021-10-31|0.14321367123924658|
|2021-11-01|0.16307739342127617|
|2021-11-02|0.14077943240293153|
|2021-11-03|0.13228986442866364|
|2021-11-04|0.11481987577639752|
|2021-11-05|0.14730107526881722|
|2021-11-06|             0.1476|
|2021-12-05|            0.15025|
|2021-12-06|0.21541666666666665|
|2021-12-07|0.15144830620325564|
|2021-12-08|0.14207093607572754|
|2021-12-09|0.14165531765531755|
|2021-12-10|0.13792424242424242|
|2021-12-11|0.13936016536964976|
|2021-12-12|0.14111802378774016|
+----------+-------------------+
only showing top 20 rows

In [78]:
# create SQL view
avg_sentiment.createOrReplaceTempView("sentimentSQL")

### 3.13 Polarity

In [79]:
# select the relevant data
avg_polarity = spark.sql("SELECT DATE_FORMAT(post_created_at, 'Y-M-dd') as date, AVG(polarity) as avg_polarity \
                          FROM twitterSQL \
                          GROUP BY DATE_FORMAT(post_created_at, 'Y-M-dd') \
                          ORDER BY DATE_FORMAT(post_created_at, 'Y-M-dd')")

In [80]:
# show
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
avg_polarity.show()

+----------+-------------------+
|      date|       avg_polarity|
+----------+-------------------+
|2021-10-25|0.32500000000000007|
|2021-10-27|0.12702171565641085|
|2021-10-28| 0.1141894718000903|
|2021-10-29|0.12819660932414867|
|2021-10-30| 0.1351922168225551|
|2021-10-31|0.13300623006534804|
|2021-11-01|0.18316873996993763|
|2021-11-02| 0.1344894138598013|
|2021-11-03|0.11277198890931094|
|2021-11-04|0.10145347439457912|
|2021-11-05| 0.2000849611982004|
|2021-11-06|0.17398989898989897|
|2021-12-05|0.14224537037037038|
|2021-12-06| 0.2354082350262906|
|2021-12-07|0.14625957594418673|
|2021-12-08|0.13326438421092746|
|2021-12-09| 0.1309096075876976|
|2021-12-10|0.12113829041011834|
|2021-12-11|0.12830378170827264|
|2021-12-12|0.12405803675085038|
+----------+-------------------+
only showing top 20 rows

In [81]:
# create SQL view
avg_polarity.createOrReplaceTempView("polaritySQL")

### 3.13 Subjectivity

In [82]:
# select the relevant data
avg_subjectivity = spark.sql("SELECT DATE_FORMAT(post_created_at, 'Y-M-dd') as date, AVG(subjectivity) as avg_subjectivity \
                          FROM twitterSQL \
                          GROUP BY DATE_FORMAT(post_created_at, 'Y-M-dd') \
                          ORDER BY DATE_FORMAT(post_created_at, 'Y-M-dd')")

In [ ]:
# show
spark.sql("set spark.sql.legacy.timeParserPolicy=LEGACY")
avg_subjectivity.show()

In [ ]:
# create SQL view
avg_subjectivity.createOrReplaceTempView("subjectivitySQL")

## 4. Basetable

In [ ]:
# create basetable
basetable = volume.join(avg_likes, "date", how="inner") \
                    .join(avg_retweets, "date", how="inner") \
                    .join(avg_engagement_rate, "date", how="inner") \
                    .join(number_of_influencers, "date", how="inner") \
                    .join(avg_followers, "date", how="inner") \
                    .join(avg_emoji, "date", how="inner") \
                    .join(avg_words, "date", how="inner") \
                    .join(avg_hashtags, "date", how="inner") \
                    .join(avg_mentions, "date", how="inner") \
                    .join(avg_marks, "date", how="inner") \
                    .join(avg_sentiment, "date", how="inner") \
                    .join(avg_polarity, "date", how="inner") \
                    .join(avg_subjectivity, "date", how="inner") \
                    .join(trend, "date", how="left")

In [ ]:
# take a look at the basetable
basetable.show()

In [ ]:
basetable = basetable.toPandas()

In [ ]:
# export basetable as a .json file
basetable.to_json("./../../data/basetable_vegan_trend_prediction.json", orient="records", force_ascii=False, lines=True)

#### Read table in

In [ ]:
# read in the saved basetable (.json)
basetable_df = spark.read.json("./../../data/basetable_vegan_trend_prediction.json")

In [ ]:
basetable_df.show()

Look at the total number of observations in the basetable

In [5]:
basetable_df.count()

223

## 5. split train and test set

In [21]:
basetable_df.toPandas().head()

,avg_emojis,avg_engagement_rate,avg_exclamation_marks,avg_followers,avg_hashtags,avg_likes,avg_mentions,avg_polarity,avg_retweets,avg_sentiment,avg_subjectivity,avg_words,date,dependent_vegan,influencers,volume
0,0.428018,0.030342,0.209167,7811.137549,1.506133,9.510229,1.224661,0.112772,3.362934,0.132290,0.425252,25.956101,2021-11-03,1.0,120,1549
1,0.835217,0.033074,0.354991,3640.014340,6.118644,18.886054,0.565913,0.179490,10.729231,0.165516,0.415197,25.754237,2022-8-15,0.0,119,1062
2,0.579545,0.009035,0.352273,6038.816092,6.636364,5.222222,0.261364,0.240729,2.593750,0.191034,0.403160,24.806818,2022-6-13,0.0,4,88
3,0.985651,0.080885,0.349890,6134.959732,6.079470,14.191095,0.614790,0.169584,6.136778,0.152711,0.407482,25.415011,2022-8-14,1.0,89,906
4,0.830683,0.047927,0.423761,4375.890359,6.506080,12.462609,0.405051,0.214137,6.706806,0.178300,0.430801,25.509822,2022-7-07,0.0,76,1069

Look at the total number of observations in the basetable

In [22]:
basetable_df.count()

223

We cannot use the randomsplit function, because we have time series data, so we have to use another approach
https://towardsdatascience.com/time-series-from-scratch-train-test-splits-and-evaluation-metrics-4fd654de1b37#:~:text=Train%2Ftest%20splits%20in%20time%20series%20In%20machine%20learning%2C,dataset%20for%20testing%20and%20everything%20else%20for%20training.

First we look at the amount of observations that will be assigned to the training set

In [23]:
nr_train = int(basetable_df.count()*0.7)
nr_train

156

convert the final basetable to a pandas dataset

In [24]:
basetable_pd = basetable_df.toPandas()
basetable_pd.head()

,avg_emojis,avg_engagement_rate,avg_exclamation_marks,avg_followers,avg_hashtags,avg_likes,avg_mentions,avg_polarity,avg_retweets,avg_sentiment,avg_subjectivity,avg_words,date,dependent_vegan,influencers,volume
0,0.428018,0.030342,0.209167,7811.137549,1.506133,9.510229,1.224661,0.112772,3.362934,0.132290,0.425252,25.956101,2021-11-03,1.0,120,1549
1,0.835217,0.033074,0.354991,3640.014340,6.118644,18.886054,0.565913,0.179490,10.729231,0.165516,0.415197,25.754237,2022-8-15,0.0,119,1062
2,0.579545,0.009035,0.352273,6038.816092,6.636364,5.222222,0.261364,0.240729,2.593750,0.191034,0.403160,24.806818,2022-6-13,0.0,4,88
3,0.985651,0.080885,0.349890,6134.959732,6.079470,14.191095,0.614790,0.169584,6.136778,0.152711,0.407482,25.415011,2022-8-14,1.0,89,906
4,0.830683,0.047927,0.423761,4375.890359,6.506080,12.462609,0.405051,0.214137,6.706806,0.178300,0.430801,25.509822,2022-7-07,0.0,76,1069

Removing date

In [10]:
basetable_pd = basetable_pd.drop(['date'], axis='columns')

In [20]:
basetable_pd.head(50)

,avg_emojis,avg_engagement_rate,avg_exclamation_marks,avg_followers,avg_hashtags,avg_likes,avg_mentions,avg_polarity,avg_retweets,avg_sentiment,avg_subjectivity,avg_words,dependent_vegan,influencers,volume
0,0.428018,0.030342,0.209167,7811.137549,1.506133,9.510229,1.224661,0.112772,3.362934,0.132290,0.425252,25.956101,1.0,120,1549
1,0.835217,0.033074,0.354991,3640.014340,6.118644,18.886054,0.565913,0.179490,10.729231,0.165516,0.415197,25.754237,0.0,119,1062
2,0.579545,0.009035,0.352273,6038.816092,6.636364,5.222222,0.261364,0.240729,2.593750,0.191034,0.403160,24.806818,0.0,4,88
3,0.985651,0.080885,0.349890,6134.959732,6.079470,14.191095,0.614790,0.169584,6.136778,0.152711,0.407482,25.415011,1.0,89,906
4,0.830683,0.047927,0.423761,4375.890359,6.506080,12.462609,0.405051,0.214137,6.706806,0.178300,0.430801,25.509822,0.0,76,1069
5,0.737395,0.025709,0.386555,5702.735889,5.657563,12.082051,0.497899,0.209101,6.269592,0.169099,0.425937,24.495798,1.0,78,952
6,0.439394,0.021345,0.209596,3704.725131,1.676768,14.878924,1.093434,0.127022,7.695122,0.126515,0.460762,29.348485,0.0,32,396
7,0.724848,0.033227,0.320884,5130.609509,4.293445,19.236439,0.586128,0.155153,11.462567,0.149604,0.411520,25.218750,1.0,129,1312
8,0.715980,0.028071,0.391486,9470.182910,5.845778,15.801001,0.515003,0.207223,5.529293,0.154718,0.443063,25.990230,0.0,93,1433
9,0.736573,0.020365,0.363171,4784.184143,5.948849,13.678414,0.370844,0.194724,10.312000,0.161826,0.421671,25.631714,1.0,40,391
10,0.664706,0.038154,0.300840,5410.136797,6.426891,14.445614,0.348739,0.184172,6.766129,0.166143,0.424474,25.534454,1.0,81,1190
11,0.877268,0.032376,0.346852,3448.854839,5.709712,21.727431,0.378869,0.186542,7.645768,0.165664,0.408818,23.978655,1.0,100,937
12,0.448870,0.034540,0.217992,14339.891651,0.957831,12.666247,0.907696,0.118552,6.766776,0.136142,0.416541,23.792433,1.0,356,8537
13,0.661578,0.034247,0.370229,6531.685897,5.685751,17.173516,0.454198,0.200482,9.928854,0.169952,0.425493,24.311705,1.0,57,786
14,0.781513,0.018263,0.353875,8110.828922,5.839402,12.902357,0.511671,0.187239,8.153153,0.165494,0.415317,24.923436,1.0,90,1071
15,1.111111,0.015643,0.305556,14294.638889,6.833333,5.000000,0.777778,0.235408,3.875000,0.215417,0.419162,23.666667,0.0,2,36
16,0.764605,0.031361,0.377148,15252.202609,5.698454,14.528037,0.631443,0.180093,5.389381,0.154671,0.419868,25.130584,0.0,93,1164
17,0.783333,0.035799,0.339216,5466.722388,5.833333,21.117647,0.539216,0.192188,7.323615,0.154964,0.417697,24.140196,1.0,79,1020
18,1.041667,0.021922,0.250000,2650.416667,6.166667,1.200000,0.250000,0.132796,1.500000,0.102292,0.448499,22.166667,1.0,1,24
19,0.702500,0.026331,0.269167,5702.876158,5.164167,18.000000,0.606667,0.175879,7.754386,0.159022,0.412460,25.512500,1.0,107,1200
20,0.629578,0.022506,0.294402,3931.112587,6.593642,12.379095,0.319972,0.164717,6.871508,0.156130,0.424645,26.761576,0.0,67,1447
21,0.741966,0.054561,0.355388,3398.007626,5.347826,21.073770,0.331758,0.169807,10.969040,0.158117,0.381186,24.463138,0.0,59,1058
22,0.781746,0.035412,0.373016,8265.058233,5.716270,10.215488,0.416667,0.191682,4.077151,0.158239,0.408103,25.006944,0.0,73,1008
23,0.506252,0.038237,0.248568,18653.361341,1.120603,15.566715,0.841884,0.133264,7.130705,0.142071,0.403235,22.825874,1.0,394,8557
24,0.524968,0.031454,0.213828,4455.033592,2.290653,11.629291,0.969270,0.127508,5.819672,0.129229,0.416399,28.710627,0.0,57,781
25,0.596211,0.017589,0.230235,12490.079043,1.136130,8.506925,1.374630,0.134489,4.268884,0.140779,0.422743,24.399969,0.0,638,12826
26,0.422879,0.021643,0.266067,7215.267097,3.020566,8.687943,1.037275,0.126104,2.946746,0.126188,0.420840,27.358612,0.0,62,778
27,0.802740,0.034788,0.316438,7486.169421,5.475342,18.820399,0.397260,0.181025,8.220217,0.170226,0.402289,23.986301,0.0,88,730
28,0.508526,0.098925,0.255400,6823.860314,2.603638,11.879668,1.181508,0.149072,9.060543,0.144851,0.405421,24.087154,1.0,165,2639
29,0.608655,0.025739,0.349953,4651.524543,6.095955,13.924007,0.371590,0.202521,6.321543,0.160632,0.422065,25.296331,0.0,78,1063
30,0.672251,0.022718,0.416754,4553.771277,6.537173,16.570342,0.359162,0.200613,9.892734,0.165435,0.428341,25.848168,0.0,85,955
31,0.765122,0.026500,0.321288,5549.047962,5.602514,21.210046,0.515318,0.176565,12.337696,0.163287,0.423509,24.616654,0.0,117,1273
32,0.647059,0.039369,0.327094,6990.021622,6.131907,16.301695,0.552585,0.214221,10.744027,0.176046,0.420434,23.810160,0.0,74,1122
33,0.455324,0.032850,0.179927,3147.002478,1.753978,15.093254,1.193390,0.116633,6.331288,0.122231,0.430501,28.932681,1.0,63,817
34,0.623836,0.023439,0.512104,8638.893816,7.021105,14.804613,0.322781,0.176932,6.004831,0.125531,0.431627,25.052762,1.0,88,1611
35,0.746753,0.039252,0.402597,5915.106805,6.490724,14.806071,0.457328,0.183769,6.271768,0.156344,0.418361,25.592764,1.0,82,1078
36,0.459607,0.044139,0.210970,10976.395727,1.063188,14.612151,1.062262,0.120329,7.331484,0.139776,0.411087,23.382423,1.0,409,9717
37,0.479939,0.023383,0.227964,8371.068342,0.871733,15.309024,0.951064,0.123120,9.171306,0.140332,0.407950,22.135258,1.0,128,3290
38,0.721668,0.061040,0.382593,9202.586017,5.601995,24.119335,0.442430,0.202362,12.948454,0.183788,0.439729,24.836809,1.0,114,1103
39,0.823944,0.035534,0.397887,14010.413854,6.297535,7.524528,0.491197,0.166063,4.125749,0.156213,0.395939,25.646127,1.0,36,568
40,0.529061,0.025428,0.296572,3125.231928,3.299553,16.674352,0.657228,0.148562,3.409357,0.137112,0.417647,24.830104,1.0,56,671
41,0.657895,0.029998,0.370709,5789.466513,6.415332,11.813142,0.344394,0.211240,5.503472,0.174667,0.418677,24.860412,1.0,87,874
42,0.661745,0.014145,0.336242,9808.044898,6.839597,6.876522,0.436913,0.178518,3.410658,0.155135,0.428772,26.394631,0.0,71,1490
43,0.949780,0.028610,0.428194,7812.276937,5.610573,10.503925,0.543612,0.209414,5.383954,0.166171,0.428801,24.940969,0.0,82,1135
44,0.758376,0.036114,0.367513,4606.169908,5.792893,6.240250,0.433503,0.222961,4.034722,0.176352,0.434843,25.168528,0.0,83,985
45,0.737255,0.035018,0.326275,5098.903892,6.124706,9.859970,0.519216,0.166774,4.351893,0.167655,0.447508,26.015686,1.0,101,1275
46,0.677243,0.039509,0.299781,6887.388950,6.452954,12.096115,0.357768,0.190247,4.603604,0.160255,0.408632,24.830416,1.0,79,914
47,0.878128,0.027895,0.363439,5909.140814,5.797606,19.777778,0.346028,0.186397,7.990099,0.155129,0.414065,24.671382,0.0,82,919
48,0.663333,0.028461,0.432222,5328.755079,6.051111,6.641667,0.433333,0.216518,3.544444,0.173628,0.426471,26.000000,0.0,92,900
49,0.839060,0.023724,0.365280,4499.413919,7.202532,5.030568,0.368897,0.181774,2.918699,0.158537,0.404578,25.775769,1.0,35,553

Split the dataframe into train and test

In [11]:
train_pd = basetable_pd.iloc[:nr_train,:]
test_pd = basetable_pd.iloc[nr_train:,:]

In [12]:
train_pd.head()

,avg_emojis,avg_engagement_rate,avg_exclamation_marks,avg_followers,avg_hashtags,avg_likes,avg_mentions,avg_polarity,avg_retweets,avg_sentiment,avg_subjectivity,avg_words,dependent_vegan,influencers,volume
0,0.428018,0.030342,0.209167,7811.137549,1.506133,9.510229,1.224661,0.112772,3.362934,0.132290,0.425252,25.956101,1.0,120,1549
1,0.835217,0.033074,0.354991,3640.014340,6.118644,18.886054,0.565913,0.179490,10.729231,0.165516,0.415197,25.754237,0.0,119,1062
2,0.579545,0.009035,0.352273,6038.816092,6.636364,5.222222,0.261364,0.240729,2.593750,0.191034,0.403160,24.806818,0.0,4,88
3,0.985651,0.080885,0.349890,6134.959732,6.079470,14.191095,0.614790,0.169584,6.136778,0.152711,0.407482,25.415011,1.0,89,906
4,0.830683,0.047927,0.423761,4375.890359,6.506080,12.462609,0.405051,0.214137,6.706806,0.178300,0.430801,25.509822,0.0,76,1069

In [16]:
basetable_pd['dependent_vegan'].isnull().values.sum()

6

Convert the pandas dataframe back to a spark dataframe

In [13]:
train = spark.createDataFrame(train_pd)
train.show()

Py4JError: An error occurred while calling o42.legacyInferArrayTypeFromFirstElement. Trace:
py4j.Py4JException: Method legacyInferArrayTypeFromFirstElement([]) does not exist
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:318)
	at py4j.reflection.ReflectionEngine.getMethod(ReflectionEngine.java:326)
	at py4j.Gateway.invoke(Gateway.java:274)
	at py4j.commands.AbstractCommand.invokeMethod(AbstractCommand.java:132)
	at py4j.commands.CallCommand.execute(CallCommand.java:79)
	at py4j.ClientServerConnection.waitForCommands(ClientServerConnection.java:182)
	at py4j.ClientServerConnection.run(ClientServerConnection.java:106)
	at java.base/java.lang.Thread.run(Thread.java:1589)

In [ ]:
test = spark.createDataFrame(test_pd)
test.show()

In [ ]:
# get number in observations in each set
print("Number of observations train: %s" %train.count())
print("Number of observations test: %s" %test.count())

In [ ]:
# get distribution of dependent variable within each set
train.groupBy("dependent_vegan").count().show()
test.groupBy("dependent_vegan").count().show()

In [57]:
train = train.na.drop()
test = test.na.drop()

NameError: name 'train' is not defined

# 6. Modelling

## 6.1 Pipelines

In [ ]:
from pyspark.ml.feature import StringIndexer, VectorAssembler, StandardScaler
from pyspark.ml.feature import Tokenizer, StopWordsRemover, Word2Vec
from pyspark.ml import Pipeline
from pyspark.ml.classification import LogisticRegression, DecisionTreeClassifier, GBTClassifier, RandomForestClassifier

In [ ]:
# define indexer (IDX)
IDX = StringIndexer(inputCol="dependent_vegan", outputCol="label")

In [ ]:
train.printSchema()

In [ ]:
# define all the numeric features
numFeatureCols = ["volume", "avg_likes", "avg_retweets", "avg_engagement_rate", "avg_followers", "avg_emojis", "avg_words", "avg_hashtags", "avg_mentions", "avg_exclamation_marks", "avg_sentiment"]

# define vector assembler
VA_num = VectorAssembler(inputCols=numFeatureCols, outputCol="numeric_features")

In [ ]:
# define the standard scaler (SS)
SS = StandardScaler(inputCol="numeric_features", outputCol="scaled_numeric_features")

In [ ]:
# for random forest we don't scale the features 
VA_RF = VectorAssembler(inputCols=["volume", "avg_likes", "avg_retweets", "avg_engagement_rate", "avg_followers", "avg_emojis", "avg_words", "avg_hashtags", "avg_mentions", "avg_exclamation_marks", "avg_sentiment", "avg_polarity", "avg_subjectivity"], outputCol="featuresrf")

In [ ]:
# define vector assembler (VA_all)
VA_all = VectorAssembler(inputCols=["scaled_numeric_features", "avg_polarity", "avg_subjectivity"], outputCol="features")

In [ ]:
# define logistic regression model
LR = LogisticRegression(featuresCol = "features", labelCol = "label")

In [ ]:
# define decision tree model
DT = DecisionTreeClassifier(featuresCol = "features", labelCol = "label")

In [ ]:
# define decision tree model
GBT = GBTClassifier(featuresCol = "features", labelCol = "label")

In [ ]:
# define random forest model
RF = RandomForestClassifier(featuresCol = "featuresrf", labelCol = "label", numTrees= 200, featureSubsetStrategy= 'all', maxDepth= 10)

## 6.2 Modelling

In [ ]:
# define pipeline model and fit on training data
LR_pipeline = Pipeline().setStages([IDX, VA_num, SS, VA_all, LR]).fit(train)

In [ ]:
# get predictions on test set
LR_preds = LR_pipeline.transform(test)

In [ ]:
# define pipeline model and fit on training data
DT_pipeline = Pipeline().setStages([IDX, VA_num, SS, VA_all, DT]).fit(train)

In [ ]:
# get predictions on test set
DT_preds = DT_pipeline.transform(test)

In [ ]:
# define pipeline model and fit on training data
GBT_pipeline = Pipeline().setStages([IDX, VA_num, SS, VA_all, GBT]).fit(train)

In [ ]:
# get predictions on test set
GBT_preds = GBT_pipeline.transform(test)

In [ ]:
# define pipeline model and fit on training data
RF_pipeline = Pipeline().setStages([IDX, VA_RF, RF]).fit(train)

In [ ]:
# get predictions on test set
RF_preds = RF_pipeline.transform(test)

# 7. Model Evaluation

In [ ]:
# import packages
from pyspark.ml.evaluation import BinaryClassificationEvaluator
from pyspark.ml.evaluation import MulticlassClassificationEvaluator

In [ ]:
# define evaluator (for AUC)
evaluator_auc = BinaryClassificationEvaluator()

# define evaluator (for other metrics)
evaluator_mc = MulticlassClassificationEvaluator()

In [ ]:
# get metrics for LR model
lr_f1 = evaluator_mc.evaluate(LR_preds, {evaluator_mc.metricName: "f1"})
lr_accuracy = evaluator_mc.evaluate(LR_preds, {evaluator_mc.metricName: "accuracy"})
lr_recall = evaluator_mc.evaluate(LR_preds, {evaluator_mc.metricName: "recallByLabel"})
lr_auc = evaluator_auc.evaluate(LR_preds, {evaluator_auc.metricName: 'areaUnderROC'})

In [ ]:
# get metrics for DT model
dt_f1 = evaluator_mc.evaluate(DT_preds, {evaluator_mc.metricName: "f1"})
dt_accuracy = evaluator_mc.evaluate(DT_preds, {evaluator_mc.metricName: "accuracy"})
dt_recall = evaluator_mc.evaluate(DT_preds, {evaluator_mc.metricName: "recallByLabel"})
dt_auc = evaluator_auc.evaluate(DT_preds, {evaluator_auc.metricName: 'areaUnderROC'})

In [ ]:
# get metrics for GBT model
gbt_f1 = evaluator_mc.evaluate(GBT_preds, {evaluator_mc.metricName: "f1"})
gbt_accuracy = evaluator_mc.evaluate(GBT_preds, {evaluator_mc.metricName: "accuracy"})
gbt_recall = evaluator_mc.evaluate(GBT_preds, {evaluator_mc.metricName: "recallByLabel"})
gbt_auc = evaluator_auc.evaluate(GBT_preds, {evaluator_auc.metricName: 'areaUnderROC'})

In [ ]:
# get metrics for RF model
rf_f1 = evaluator_mc.evaluate(RF_preds, {evaluator_mc.metricName: "f1"})
rf_accuracy = evaluator_mc.evaluate(RF_preds, {evaluator_mc.metricName: "accuracy"})
rf_recall = evaluator_mc.evaluate(RF_preds, {evaluator_mc.metricName: "recallByLabel"})
rf_auc = evaluator_auc.evaluate(RF_preds, {evaluator_auc.metricName: 'areaUnderROC'})

In [ ]:
# check which of both algorithms is the best:
print("LOGISTIC REGRESSION:")
print('  F1       : %g' % lr_f1)
print('  ACCURACY : %g' % lr_accuracy)
print('  RECALL   : %g' % lr_recall)
print('  AUC      : %g' % lr_auc)
print("------------------")
print("SINGLE DECISION TREE:")
print('  F1       : %g' % dt_f1)
print('  ACCURACY : %g' % dt_accuracy)
print('  RECALL   : %g' % dt_recall)
print('  AUC      : %g' % dt_auc)
print("------------------")
print("GRADIENT-BOOSTED TREES:")
print('  F1       : %g' % gbt_f1)
print('  ACCURACY : %g' % gbt_accuracy)
print('  RECALL   : %g' % gbt_recall)
print('  AUC      : %g' % gbt_auc)
print("------------------")
print("RANDOM FOREST:")
print('  F1       : %g' % rf_f1)
print('  ACCURACY : %g' % rf_accuracy)
print('  RECALL   : %g' % rf_recall)
print('  AUC      : %g' % rf_auc)

# 8 Plot model evaluation

## 8.1 Confusion Matrix

We plot the confussion matrix for the model with the highest AUC, this is the random forest model with cross validation

In [ ]:
# import confusion matrix
from sklearn.metrics import confusion_matrix, ConfusionMatrixDisplay

# get predictions and labels
preds_and_labels = RF_preds.select(['prediction','label']) \
                                  .withColumn('label', F.col('label').cast(FloatType())) \
                                  .orderBy('prediction') \
                                  .toPandas()

# get confusion matrix
cm = confusion_matrix(preds_and_labels["label"], preds_and_labels["prediction"], labels=[0, 1])
# get confusion matrix figure
disp = ConfusionMatrixDisplay(confusion_matrix=cm, display_labels=[0, 1])
# plot figure
disp.plot()
plt.show()

Calculate sensitivity and specificity

In [ ]:
from sklearn.metrics import roc_curve, auc, recall_score
recall_sensitivity = metrics.recall_score(preds_and_labels["label"], preds_and_labels["prediction"], pos_label=1)
recall_specificity = metrics.recall_score(preds_and_labels["label"], preds_and_labels["prediction"], pos_label=0)
recall_sensitivity, recall_specificity

## 8.2 Model interpretation

We plot the future importance for the model with the highest AUC, this is the random forest model

In [ ]:
# inspect feature importance
feature_importance = RF_pipeline.stages[-1].featureImportances.toArray()
# define all the features
all_feature_names = numFeatureCols + ["avg_polarity", "avg_subjectivity"] 
plt.figure(figsize=(20, 5))
plt.bar(x=range(len(feature_importance)), height=feature_importance)
plt.xticks(range(len(feature_importance)), all_feature_names, rotation=90)
plt.show()

## 8.3 ROC Curve

We will plot the ROC curve for the model with the highest AUC, this is the random forest model.

We will use plotty to plot the ROC curve, so we will have to perform some data type transformations

In [ ]:
# convert the rf predictions to a pandas dataframe
RF_preds_pd = RF_preds.toPandas()
RF_preds_pd.head()

In [ ]:
# this is a function that will select the probabilities for value 1
def select1(column):
    one = column[1]
    return one

In [ ]:
# we apply this function to our probabilities 
Yscore = RF_preds_pd['probability'].apply(lambda x: select1(x)).to_numpy()

In [ ]:
# Yscore contains the probabilities of our predictions to be 1
Yscore

In [ ]:
# Yscore is of the correct type to perform the plot 
type(Yscore)

In [ ]:
# Y is the real value of our dependent
Y = test.select('dependent_vegan').toPandas()
Y = Y['dependent_vegan'].to_numpy()
Y

In [ ]:
# Yscore is of the correct type to perform the plot 
type(Y)

In [ ]:
# we use the roc_curve function to predict the false-positive, true-positive rate and thresholds based on the Y an Y score
fpr, tpr, thresholds = roc_curve(Y, Yscore)

In [ ]:
fig = px.area(
    x=fpr, y=tpr,
    title=f'ROC Curve (AUC={auc(fpr, tpr):.4f})',
    labels=dict(x='False Positive Rate', y='True Positive Rate'),
    width=700, height=500
)
fig.add_shape(
    type='line', line=dict(dash='dash'),
    x0=0, x1=1, y0=0, y1=1
)

fig.update_yaxes(scaleanchor="x", scaleratio=1)
fig.update_xaxes(constrain='domain')
fig.show()